@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  font-family: "Poppins", serif;
}
button {
  cursor: pointer;
}
.img-overlay {
  transition: all;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8));
}
.img-overlay:hover {
  background: #ffffffaf;
  
}
.img-overlay:hover > p {
  color: black;
}
.about-head {
  position: relative;
  width: fit-content;
  z-index: 1;
  
}
.about-head::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #05df72;
  z-index: -1;
}
.scroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroller {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
} 